@import 'abstract';
.container{
  min-height:100vh;
  background-color: lighten(#808080, 40%);;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  height:20rem;
  color:white;
  font-size: 3rem;
  background-color: lighten($primary-col,10%);
  &__top{
    height:70%;
    @include flx-center;
    background-color: darken($main-left-col,15%);
  &-left{
    @include flx-center;
  }
  &-right{
    @include flx-center;
  }
  }
  &__navigation{
    height:30%;
    background-color: darken($main-left-col,5%);
  }
}
.main-content{
  background-color: lighten(#808080, 38%);
  //  height:200%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2rem;
  &__article-1{
    // flex-grow: 1;
    // background-color: darken(#ff4500,5%);
    // @include flx-center;
    font-size: 2rem;
    // color: white;
    padding: 1.5rem;
  }
  &__article-2{
    // flex-grow: 3;
    // background-color: darken(#ffc0cb,20%);
    // @include flx-center;
    font-size: 2rem;
    // color: white;
    padding: 2rem;
    margin: .5rem 0;
  } 
  &__article-3{
    // flex-grow: .5;
    // background-color: darken(#ffa500, 20%);
    // @include flx-center;
    font-size: 2rem;
    // color: white;
    padding: 1.5rem;
  }
}
.foot{
  font-size: 2rem;
  background-color: lighten(#000000,10%);
  height: 10rem;
  // flex-grow: 1;
  color:white;
  @include flx-center;
}
.top-container{
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  width:80%;
  background-color: darken($main-left-col,14%);
  height: 100%;
  color:white;
  font-size: 4rem;
  &--nav{
    background-color: darken($main-left-col,3%);
  }
}
.header__navigation{
  @include flx-center;
}
//navigaition
.navigation{
  &__list{
    list-style: none;
    justify-content: space-around;
  }
}
//btn
.btn-txt{
  &:link, &:visited{
    text-decoration: none;
    color:white;
  }
  &:active, &:focus{
    border: none;
    outline: none;
  }
  &:hover{
    cursor: pointer;
    color: blue;
  }
}
.btn-nav{
  @extend .btn-txt;
  font-size: 2rem;
  &:hover{
    color: green;
  }
}
//popup
.popup {
  position: fixed;
  @include flx-center;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black,.96);
  z-index:400;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  &__content {
      @include flx-center;
      transform: scale(0);
      background: white; 
      box-shadow: 1rem 1rem 0.5rem rgba(black, 0.5);
      border-radius: 4%;
      padding: 1rem;
      opacity: 0;
      visibility: hidden;
      transition: all .4s;
  }
  &__heading{
    font-size: 3rem;
    color:red;
  }
  &:target {
      opacity: 1;
      visibility: visible;
      
  }
  &:target &__content{
      opacity: 1;
      visibility: visible;
      transform: scale(1);
  }
}
.pop-container{
  @include flx-center;
}
.btn-close{
  font-size: 3rem;
  text-decoration: none;
}

// 
article > p {
  padding: 1rem 0;
}
article > footer {
  font-style: italic;
  font-weight: 600;
  color: darken(#808080, 30%);
}
article  h2 {
  letter-spacing: .3rem;
  line-height: 3rem;
}
article:nth-of-type(2){
  background-color: lighten(#808080, 50%);
}
article:first-child h2{
  color:blue;
}


