@import 'abstract';
.container{
  height:100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  height:30%;
  color:white;
  font-size: 3rem;
  background-color: lighten($primary-col,10%);
  &__top{
    height:70%;
    @include flx-center;
    background-color: darken($main-left-col,15%);
  &-left{
    @include flx-center;
  }
  &-right{
    @include flx-center;
  }
  }
  &__navigation{
    height:30%;
    background-color: darken($main-left-col,5%);
  }
}
.main-content{
  background-color: lightblue;
  height: 50%;
  display: flex;
  flex-direction: column;
  &__article-1{
    flex-grow: 1;
    background-color: darken(#ff4500,5%);
    @include flx-center;
    font-size: 3rem;
    color: white;
  }
  &__article-2{
    flex-grow: 1;
    background-color: darken(#ffc0cb,20%);
    @include flx-center;
    font-size: 3rem;
    color: blue;
  } 
  &__article-3{
    flex-grow: 1;
    background-color: darken(#ffa500, 20%);
    @include flx-center;
    font-size: 3rem;
    color: white;
  }
}
.foot{
  font-size: 2rem;
  background-color: lighten(#000000,10%);
  height: 20%;
  color:white;
  @include flx-center;
}
.top-container{
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  width:80%;
  background-color: darken($main-left-col,14%);
  height: 100%;
  color:white;
  font-size: 4rem;
  &--nav{
    background-color: darken($main-left-col,3%);
  }
}
.header__navigation{
  @include flx-center;
}
//navigaition
.navigation{
  &__list{
    list-style: none;
    justify-content: space-around;
  }
}
//btn
.btn-txt{
  &:link, &:visited{
    text-decoration: none;
    color:white;
  }
  &:active, &:focus{
    border: none;
    outline: none;
  }
  &:hover{
    cursor: pointer;
    color: blue;
  }
}
.btn-nav{
  @extend .btn-txt;
  font-size: 2rem;
  &:hover{
    color: green;
  }
}





